@media screen and (max-width: 600px)  {
    #title {
        font-size: 4em;
    }

    #subtitle {
        font-size: 2em;
        text-align: center;
    }

    #small-subtitle {
        font-size: 1em;
        text-align: center;
    }

    .heading {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1%;
    }

    .subheading {
        font-size: 1.25em;
        margin-top: 3%;
        margin-bottom: 1%;
        font-weight: 800; 
    }

    .menu-subheading {
        font-size: 1em;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .staff-subheading {
        font-size: 1em;
        margin-top: 3%;
        margin-bottom: 1%;
    }
    
    .column-title {
        font-size: 1em;
        text-align: center;
        vertical-align: center;
        padding: 20px 0px 20px 0px;
        border-bottom: solid 1px #839496;
        margin-bottom: 15px;
    }

    .column-item {
        font-size: 0.85em;
        color: #002b36;
        padding: 10px 0px 10px 0px;
        text-align: center;
        height: 50px;
        border-bottom: solid 1px #839496;
    }

    .main-container {
        width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 600px) {

    #title {
        font-size: 5em;
    }

    #subtitle {
        font-size: 1em;
        text-align: center;
    }

    #small-subtitle {
        font-size: 1em;
        text-align: center;
    }

    .heading {
        text-align: center;
        font-size: 3em;
        margin-bottom: 1%;
    }

    .subheading {
        font-size: 1.5em;
        margin-top: 3%;
        margin-bottom: 1%;
        font-weight: 800; 
    }
    .menu-subheading {
        font-size: 1.1em;
        margin-top: 3%;
        margin-bottom: 1%;
    }
    .staff-subheading{
        font-size: 1.1em; 
        margin-bottom:1%;
    }
    .column-title {
        font-size: 1.5em;
        text-align: center;
        vertical-align: center;
        padding: 20px 0px 20px 0px;
        border-bottom: solid 1px #839496;
        margin-bottom: 15px;
    }

    .column-item {
        font-size: 1.25em;
        color: #002b36;
        text-align: center;
        height: 80px;
        border-bottom: solid 1px #839496;
    }

    .main-container {
        width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}

html, body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0 auto; 
    color: #262626;
}

hr {
    width:75%;
}

a {
    text-decoration: none;
    color: #0e73c0;
}

a:hover {
    text-decoration: underline;
}

table {
    /*border-collapse: collapse;*/
    width:100%;
    border-radius: 5px; 
  border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    height: 75px;
}
th {
    font-weight: bold;
    text-align: center; 
}
td {
    text-align: center;
}

/*.syllabus-table-rounded {
    border: none;
}
.syllabus-table-rounded thead th {
    background-color: #CFAD70;
    border:none;
    color: #333;
}
.syllabus-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
    border:1px solid black;
}
.syllabus-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
        border:1px solid black;

}
.syllabu-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
        border:1px solid black;

}
.syllabu-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
        border:1px solid black;

}
*/

.staff {
    width: 200px;
    height: 250px;
    margin-bottom: 2%;
}

.staff img {
    width: 200px;
    height: 200px;
    margin-bottom:1%;
    display: inline-block;
}

.container p {
    margin-top:1%;
    text-align: center;
    font-size: 13px;
}

#title-container {
    margin-top: 10%;
    margin-bottom: 1%;
}

#class-number {
    text-align: center;
}

#menu {
    text-align: center;
}
#picture {
    width: 100px;
    height: 100px;
}
#name {
    text-align: center;
}
