@media screen and (max-width: 600px)  {

}

@media screen and (min-width: 600px) {

	.column {
		width: 33%;
		float: left;
	}

	.column.left {
		border-right: solid 1px #839496;
	}

	.column.middle {
		border-right: solid 1px #839496;
	}
	
}

html, body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	margin: 0 auto;	
	color: #262626;
}

a {
	text-decoration: none;
	color: #0e73c0;
}

a:hover {
	text-decoration: underline;
}

.heading {
	text-align: center;
	font-size: 3em;
	margin-bottom: 1%;
}

.subheading {
	font-size: 2em;
	margin-top: 3%;
	margin-bottom: 1%;
}

.subheading-content {

}

.column-title {
	font-size: 2em;
	text-align: center;
	vertical-align: center;
	padding: 20px;
	border-bottom: solid 1px #839496;
	margin-bottom: 15px;
}

.column-items {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 5%;
}

.column-item {
	font-size: 1.25em;
	color: #002b36;
	text-align: center;
	line-height: 100px;
	border-bottom: solid 1px #839496;
}

.main-container {
	width: 75%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 5em;
}

#subtitle {
	font-size: 4em;
	text-align: center;
}

#title-container {
	margin-top: 20%;
	margin-bottom: 20%;
}

#schedule-container {
	margin-bottom: 40%;
}